.input {
  padding: 8px 12px;
  width: 100%;

  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  background: #3d3d3d;
}

.input::placeholder {
  color: #c7c7c7;
  font-weight: 500;
}

.notValid {
  outline: 1px solid #d10808;
}

.notValid::placeholder {
  color: #d10808;
}

.label {
  cursor: pointer;
  padding-left: 28px;
}

.label input {
  display: none;
}

.label input:checked + span {
  color: #d10808;
  font-weight: 500;
}

.label span {
  position: relative;
}

.label span:before,
.label span:after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: -18px;
  top: 50%;

  border: 2px solid #fff;

  border-radius: 4px;

  transform: translate(-50%, -50%);
}

.label span:before {
  width: 10px;
  height: 10px;

  display: none;

  border-radius: 2px;

  background: #fff;
  left: -18px;
}

.label input:checked + span:before {
  display: block;
}

.outer {
  margin-bottom: 16px;
}

.taskLabel {
  width: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  pointer-events: none;

  font-size: 16px;
}

.taskLabel .divWithIcon {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.outer:hover .divWithIcon:before {
  background-color: #f2f2f2;
}

.taskLabel input:checked + .divWithIcon {
  text-decoration: line-through;
}

.textInput {
  line-height: 1;
  padding-right: 8px;
  cursor: text;
  pointer-events: all;
  background: transparent;
  color: inherit;
  width: fit-content;
}

.textInput:focus {
  outline: none;
}

.taskLabel .divWithIcon:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 28px;
  border-radius: 50%;

  border: 2px solid #fff;
  background-color: transparent;

  transition: all 0.3s ease-in-out;
  transform: translate(-170%, -50%);
}

.taskLabel input[type='checkbox'] {
  display: none;
}

.taskLabel svg {
  position: absolute;
  left: 4.5px;
  top: 50%;
  opacity: 0;

  transition: all 0.3s ease-in-out;

  transform: translate(-50%, -50%);
}

.taskLabel svg path {
  fill: none !important;

  transition: all 0.3s ease-in-out;
}

.outer:hover svg path {
  stroke: #b2b2b2;
}

.outer:hover .taskLabel svg,
.taskLabel input:checked ~ .divWithIcon svg {
  opacity: 1;
}

.outer:hover input:checked ~ .divWithIcon svg path {
  stroke: #fff;
}

.taskLabel input:checked ~ .divWithIcon::before {
  background-color: #2b593f;
  border-color: #2b593f;
}
