.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.circle {
  width: 20px;
  height: 20px;

  border-radius: 50%;
  cursor: pointer;

  transition: opacity 0.2s ease-in-out;
}

.circle:hover {
  opacity: 0.8;
}

.circle:active {
  opacity: 0.6;
}

.circle.active {
  border: 2px solid #fff;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.settings {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings button {
  background: transparent;
}

.settings > button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #141414;
  border-radius: 4px;

  transition: background 0.3s ease-in-out;
}

.settings > button:hover {
  background: #333;
}

.settings > button svg {
  stroke: #fff;

  transition: transform 0.3s ease-in-out;
}

.settings > button:hover svg {
  transform: rotate(-15deg);
}

.settings > button:active svg {
  transform: rotate(-15deg);
}

.settings button:focus {
  outline-color: rgb(255, 255, 255);
}

.settings .options {
  padding: 12px;
  position: absolute;
  display: flex;
  width: 240px;
  right: 0;
  top: -56px;

  border-radius: 4px;
  background: #333;
}

.settings .options * {
  color: #fff;
}

.settings .options > button {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings .options > button svg {
  width: 28px;
  height: 16px;
}

.hot {
  margin-right: 4px;
  border-radius: 4px;

  transition: background 0.3s ease-in-out;
}

.hot:hover {
  background: #212121;
}

.hot:active {
  background: #111;
}

.hot.passiveHot svg path:nth-child(1) {
  fill: #7e7e7e !important;
}

.hot.passiveHot svg path:nth-child(2) {
  fill: #676767 !important;
}

.hot.passiveHot svg path:nth-child(3) {
  fill: #676767 !important;
}

.hot.passiveHot svg path:nth-child(4) {
  fill: #676767 !important;
}

.hot.passiveHot svg path:nth-child(5) {
  fill: #676767 !important;
}

.hot.passiveHot svg path:nth-child(6) {
  fill: #676767 !important;
}
