.list,
.emptyList {
  margin-bottom: 12px;
  max-height: 420px;
  overflow-y: auto;
  padding-right: 8px;
  color: #767676;
}

.emptyList {
  overflow-y: unset;
}

.list::-webkit-scrollbar {
  width: 6px;
}

.list::-webkit-scrollbar-thumb {
  background: #333;

  border-radius: 1px;
}

.list::-webkit-scrollbar-track {
  background: #191919;

  border-radius: 1px;
}

.list > * {
  margin-bottom: 8px;
}

.list > *:last-child {
  margin-bottom: 0;
}

.add {
  color: #767676;
}
