.outer {
  position: relative;
}

.li {
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;

  border-radius: 4px;
  color: #cdcdcd;

  transition: background-color 0.3s ease-in-out;
}

.li:hover {
  color: #fff;
  cursor: pointer;
  background-color: #232323;
}

.li.active:hover {
  background: #191919;
}

.li + button {
  position: absolute;
  top: 50%;
  right: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 2px;
  background: transparent;

  transform: translateY(-50%);

  transition: background-color 0.3s ease-in-out;
}
.li + button svg {
  max-width: 100%;
}

.li + button:hover {
  background: #6e3630;
}

.li + button svg path {
  fill: #fff;
}

.active {
  color: #fff;
  background-color: #232323;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.hot * {
  color: #d10808;
  font-weight: 700;
}
