@import url('https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic');
@import 'assets/nullstyle.css';

#root {
  /* user-select: none; */
  height: 100%;
}

.page {
  min-height: 100vh;
  width: 100%;
  background-color: #141414;
  color: #fff;
  display: flex;

  font-family: Lato, sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background: #333333;

  border-radius: 1px;
}
body::-webkit-scrollbar-track {
  background: #191919;

  border-radius: 1px;
}

a {
  width: 100%;
  display: block;
  color: inherit;
}

button:focus,
input:focus {
  outline: 1px solid #fff;
}
